/source/client/node_modules
/source/client/dist
/source/client/.tmp
/source/client/.sass-cache
/source/client/bower_components
/source/client/.idea
/source/server/build
/source/server/dist
/source/server/nbproject/private
/.idea
