<div class="kudosCategoryType">
  <div class="panel panel-primary">
    <div class="panel-heading" >
      <div class="panel-title">
        <div class="kudosCategoryName" ng-switch on="allowLink">
          <a ui-sref="app.editKudosCategory({id:category.id})" ng-switch-when="true">
            {{category.name}}
          </a>
          <span ng-switch-when="false">
            {{category.name}}
          </span>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <h5 class="text-center">
        <small>{{category.desc}}</small>
      </h5>
      <div class="text-center">
        <span class=" fa-stack fa-4x" ng-style="{'color': category.color}">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa {{category.icon}} fa-stack-1x"></i>
        </span>
      </div>
    </div>
  </div>
</div>
