<div class="userKudosType">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a ui-sref="editKudosCategory({id:kudos.kudosCat.id})">{{kudos.kudosCat.name}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <div ng-switch on="association">
        <strong ng-switch-when="to">
          Kudos from {{kudos.fromUser.firstName}} {{kudos.fromUser.lastName}}!
          <div class="pull-right">
            <img ng-src="{{kudos.fromUser.avatar}}" class="circle-border-small" width="80">
          </div>
        </strong>
        <strong ng-switch-when="from">Kudos to {{kudos.toUser.firstName}} {{kudos.toUser.lastName}}!
          <div class="pull-right">
            <img ng-src="{{kudos.toUser.avatar}}" class="circle-border-small" width="80">
          </div>
        </strong>
      </div>
      <div>
        <blockquote class="kudosComment">{{kudos.comments}}</blockquote>
      </div>
    </div>
    <div class="panel-footer">
      {{kudos.dateCreated | formatTime}}
    </div>
  </div>
</div>
