<form class="form" role="form" ng-submit="vm.saveKudos()" novalidate name="createForm">

  <div class="form-group" ng-class="{'has-error': createForm.toUser.$invalid && !createForm.toUser.$pristine}">
    <label for="toUser" class="control-label">Name</label>
    <select class="form-control" name="toUser" required id="toUser" ng-model="vm.kudo.toUser">
      <option ng-repeat="user in vm.users | orderBy: 'lastName'" value="{{user.id}}">{{user.lastName}}, {{user.firstName}}</option>
    </select>
  </div>

  <div class="form-group" ng-class="{'has-error': createForm.kudosCat.$invalid && !createForm.kudosCat.$pristine}">
    <label for="kudosCat" class="control-label">Category</label>
    <select class="form-control" required name="kudosCat" id="kudosCat" ng-model="vm.kudo.kudosCat">
      <option ng-repeat="cat in vm.kudosCategories | orderBy:'name'" value="{{cat.id}}">{{cat.name}}</option>
    </select>
  </div>

  <div class="form-group" ng-class="{'has-error': createForm.comments.$error.required && !createForm.comments.$pristine}">
    <label for="comments" class="control-label">Comments</label>
    <textarea rows="5" required type="text" class="form-control" name="comments" id="comments" ng-model="vm.kudo.comments"></textarea>
    <span ng-show="createForm.comments.$error.required && !createForm.comments.$pristine" class="help-block">Comments are required</span>
  </div>

  <div class="form-group">
    <div>
      <button type="submit" ng-disabled="createForm.$invalid" class="btn btn-primary">
        <i class="fa fa-thumbs-up"></i>
        Send Kudos!
      </button>

      <button type="button" ui-sref="app.home" class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>

