

<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="userHolder" >
      <img ng-src="{{vm.user.avatar}}" class="circle-border img-responsive center-block" />
      <div class="well text-center">
        {{vm.user.lastName | uppercase}}, {{vm.user.firstName}}
      </div>
    </div>
    <button class="btn-primary btn-block btn-lg" ui-sref="app.createKudos({userId: vm.user.id, moreStuff:'awesome'})">
      <i class="fa fa-thumbs-up"></i>Send them a Kudos</button>
  </div>
  <div class="col-md-8 col-sm-6 col-xs-6">
    <h5>Kudos From Others</h5>
    <div class="row" ng-switch on="vm.toUser.length > 0">
      <div class="col-sm-12" ng-repeat="toUserKudos in vm.toUser | orderBy: '-dateCreated'" ng-switch-when="true">
        <div class="topmargin-20">
          <user-kudos-type association="'to'" kudos="toUserKudos"></user-kudos-type>
        </div>
      </div>
      <div class="col-sm-12" ng-switch-when="false">
        No kudos for {{vm.user.firstName}} yet!
      </div>
    </div>
    <hr />
    <h5>Kudos to Others</h5>
    <div class="row" ng-switch on="vm.fromUser.length > 0">
      <div class="col-sm-12 " ng-repeat="fromUserKudos in vm.fromUser | orderBy: '-dateCreated'" ng-switch-when="true">
        <div class="topmargin-20">
          <user-kudos-type association="'from'" kudos="fromUserKudos"></user-kudos-type>
        </div>
      </div>
      <div class="col-sm-12" ng-switch-when="false">
        No kudos from {{vm.user.firstName}} yet!
      </div>
    </div>
  </div>
</div>
