<div class="row">
  <div class="form-group">
    <div class="col-sm-3 ">
      <input type="text" ng-model="FirstNameFilter.firstName" id="FirstNameFilter" class="form-control"
             placeholder="First Name Filter">
    </div>
  </div>
</div>

<div class="row topmargin-20 ">
  <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="item in vm.users | orderBy: 'firstName' | filter: FirstNameFilter">
    <div class="userHolder" ui-sref="app.user({ id: '{{item.id}}' })" >
      <img ng-src="{{item.avatar}}" class="circle-border img-responsive center-block" />
      <div class="well text-center" style="z-index: 1000">
        {{item.lastName | uppercase}}, {{item.firstName}}
      </div>
    </div>
  </div>
</div>
