<div class="alert alert-danger" ng-show="vm.currentUser && !vm.notificationDismissed">
	<button type="button" ng-click="vm.hideNotification()" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p class="lead">
    <i class="fa fa-bullhorn" aria-hidden="true">&nbsp;</i> Hi, {{vm.currentUser.firstName}}.
  </p>
  <span ng-show="vm.lastKudosForUser">
    The last kudos you sent was {{vm.lastKudosForUser.dateCreated | formatTime: true }}. Want to <a class="alert-link" ui-sref="app.createKudos" title="Send a kudos">send another?</a>
  </span>
  <span ng-hide="vm.lastKudosForUser">
    You haven't sent a kudos yet. Want to <a class="alert-link" ui-sref="app.createKudos" title="Send a dudos">send one now?</a>
  </span>
</div>

<div class="jumbotron">

  <!--<span class=" fa-stack fa-5x text-warning">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-thumbs-up fa-stack-1x text-primary"></i>
  </span>-->

  <h1 class="animated bounceInDown kudosTitle">
    KUD<span class=" fa-stack text-warning">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-thumbs-up fa-stack-1x text-primary"></i>
    </span>S
  </h1>
  <p class="lead">
    Teamwork makes the dreamwork!
  </p>
  <p ng-show="vm.currentUser">
    <a id="sendKudos" class="btn btn-lg btn-success" ui-sref="app.createKudos" title="Send a kudos">Send a kudos!<span class="glyphicon glyphicon-ok"></span></a>
  </p>
</div>

  <div></div>
  <!--<button class="btn btt primary" ng-click="vm.showInfo()">Click me</button>-->

  <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-header">
          <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          Modal body ...
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

  </script>

