<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
    
<!--    <context:property-placeholder location="classpath:/gov/dhs/kudos/rest/spring/kudos.properties"/>-->
    <context:component-scan base-package="gov.dhs.kudos"/>
    
    <mongo:mongo host="localhost" port="27017"/>
    <mongo:repositories base-package="gov.dhs.kudos.rest.v1.repo"/>
    
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongo"/>
        <constructor-arg name="databaseName" value="LocalMongo"/>
        <!--<constructor-arg name="userCredentials" ref="userCredentials"/>-->
    </bean>
<!--    <bean id="userCredentials" class="org.springframework.data.authentication.UserCredentials">
        <constructor-arg name="username" value="username" />
        <constructor-arg name="password" value="password" />
    </bean>-->
    
    <bean id="jwtAuthenticationFilter" class="gov.dhs.kudos.rest.v1.filter.JwtAuthenticationFilter"/>    
    <bean id="beforeSaveListener" class="gov.dhs.kudos.rest.v1.repo.listener.BeforeSaveListener"/>
    <bean class="gov.dhs.kudos.rest.spring.SwaggerConfig"/>
    <bean id="requestMappingHandlerMapping" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
</beans>
